.hero-video-container#hero-video-container
  %iframe#hero-video{ src: "", allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", frameborder: "0", allowfullscreen: "1" }

.blank-header.commit-header
  .header-content
    = image_tag "/images/events/gitlab-contribute/contribute-2021-logo.svg", class: "hero-image", alt: "Contribute 2021 logo"
    %h1 GitLab Contribute
  %p.alert.alert-gitlab-purple.text-center
    -# (commented out) %i.fab.fa-gitlab.fa-fw{ style: "color:rgb(252,109,38); font-size:.85em" }
    -# (commented out) Counting down to Sept 17th 2021!
    -# (commented out) %i.fab.fa-gitlab.fa-fw{ style: "color:rgb(252,109,38); font-size:.85em" }
    %br
    %span.h3#nextSummitCountdown
